:root {
  --success: #03d087;
  --warning: #f2994a;
  --error: #d82045;
  --main: #10a8c9;
  --inactive: #2d9cdb;
  --light-gray: #d7dbe2;
  --main-grey: #9ca4b3;
  --dark-grey: #515b6c;
  --bg: #f9f9fa;
  --profile-block: #263650;
  --black: #10203b;
  --white: #ffffff;

  --primary: #10a8c9;
  --dark-primary: #0e97b5;
  --light-primary: #11b7db;
}
